{% extends "base.html" %}

{% block content %}
<h1 class="text-info text-center myfont">Лента</h1>
{% if current_user.is_authenticated %}
<div class="text-center py-3">
    <a href="/news_post" class="btn btn-secondary">Добавить новость</a>
</div>
{% endif %}

{% for item in news%}
<div class="rectangle w-50 m-auto ">
    <div class="p-4">
        <div class="text-secondary fs-5">
        {{item.user.name}} {{item.user.surname}}
            {% if item.user.gender == true %} написал {% else %} написала {% endif %} в {{item.created_date}} :
        </div>
       <div class="text-light fs-4">
        {{item.text}}
        </div>
 {% if current_user.is_authenticated %}
    <div class="py-2 fs-6 text-white">

         <a href="/news_like/{{ item.id }}" class="btn-sm btn-success p-2 text-left" >
            <img src="https://cdn.discordapp.com/attachments/753927082328719471/835232326182240286/like.png"
            alt="like" class="dlike">{{ item.like }}
        </a>
        <a href="/news_dislike/{{ item.id }}" class="btn-sm btn-danger p-2 text-right" >
            <img src="https://cdn.discordapp.com/attachments/753927082328719471/835232324412506122/dislike.png"
             alt="dislike" class="dlike"> {{ item.dislike }}
        </a>
    </div>
        {% if current_user == item.user %}
    <div class="pt-2 ">
        <a href="/news_edit/{{ item.id }}" class="btn btn-warning btn-sm btn-outline-dark">
            Изменить
        </a>
        <a href="/news_delete/{{ item.id }}" class="btn btn-danger btn-sm btn-outline-dark">
            Удалить
        </a>
    </div>
        {% endif %}
{% endif %}
    </div>
</div>
<p></p>
{% endfor %}
{% endblock %}